header {
  background-color: lightgray;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: left;
}
body { background-color: #d16b18;}
* {font-family: sans-serif;}
img {width: 50%;border-radius: 8px;  display: block; margin: auto;}
ol {text-align: left; }
.footer{text-align: left;}
.flex-container {
  display: flex;
}

.box {
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
}
.box2{
    background-color: lightgray;
  padding: 20px;
  margin: 10px;
}
.box3{
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
}
.box4{ background-color: lightgray;
  padding: 20px;
  margin: 10px;
}